<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>iHelp</h1>
    <p class="lead">Get answers to all of your iPhone, iPad, iPod and Mac questions.</p>
    <div class="form-group">
      <textarea style="min-height:150px;" class="form-control" placeholder="Your question..." ng-model="question.text"></textarea>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" ng-model="question.email" placeholder="Your email...">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-lg btn-default" ng-click="submitQuestion(question)">Get iHelp!</button>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Latest Questions:<input type="text" class="hidden-xs form-control" ng-model="search" style="max-width:400px; float:right;" placeholder="Find a question..."/></h1>
      <div class="panel panel-default" ng-repeat="question in questions | filter:search | orderBy:'-submitted'">
        <div ng-if="questions.length === 0">
          <p class="lead text-center">No results found.</p>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">{{question.text}}</i><p class="pull-right hidden-xs">{{question.submitted | date:'short'}}</p></h3>
        </div>
        <div class="panel-body">
          <p class="lead">
            {{question.answer || 'Hell if I know.'}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>iHelp v1.0 |
      <a href="https://twitter.com/emperioreric">@EmperiorEric</a> |
      <a href="https://github.com/BlairMorris/iHelp/issues?state=open">Issues</a></p>
  </div>
</footer>
